.product_rp_a1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 4px solid;
  margin-bottom: 30px;
}

.product_main_img {
  width: 280px;
  height: 200px;
}

.main_pg_background {
  max-width: 280px;
  margin-bottom: 30px;
  background: #c3c6ca;
  padding: 0px 0px 10px;
}

.tl-1 {
  width: 100%;
  color: black;
  font-weight: 800;
  margin-top: 10px;
  padding: 10px 4px 4px 5px;
  display: block;
  height: 140px;
}

.btn_lnk_1 {
  margin-bottom: -10px !important;
  transition: 0.5s;
}

.btn_lnk_1:hover {
  transform: scale(0.95) !important;
}

.hv-32:hover {
  transform: scale(1.04) !important;
}

.title_main {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.top_m5 {
  margin-top: -780px;
}
