@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.products-repo {
  margin-top: 20px;
}

.repository_catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.product_img {
  width: 270px;
  display: block;
  margin: auto;
}

.catalog {
  padding: 10px !important;
}

.title_pr1 {
  margin-top: 50px;
  margin-bottom: 167px;
}

.product_img:hover {
  transform: scale(1.07);
}

.product_name {
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 500;
}

.name_section {
  margin-top: 10px;
  height: 100px;
}

.catalog {
  margin-bottom: 40px;
  padding-top: 3%;
  max-width: 370px;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background: #c3c6ca;
}

.pagination {
  position: relative;
}

.pagination_section:hover {
  opacity: 0.6;
}

.search_form {
  text-align: center;
}

.search_input {
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #d9d9d9;
  width: 480px;
  height: 45px;
  padding-left: 15px;
  padding-right: 40px;
  padding-bottom: 1px;
  font-size: 15px;
}

.search_btn {
  background: #0e5fac;
  color: white;
  border: none;
  width: 100px;
  height: 45px;
  padding-bottom: 1px;
}

.search_icon {
  font-size: 20px;
  position: relative;
  left: 470px;
  top: 2px;
  color: #4a4545;
  font-weight: 300;
}

.product_list_control {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #4a4545;
  overflow-y: hidden;
  width: 8500px;
}

.product_list {
  cursor: pointer;
  text-wrap: nowrap;
  margin-left: 20px;
  user-select: none;
}

.product_list:hover {
  background: #ddd9d9;
  padding: 0px 10px;
}

.pagination_btn {
  border: 1px solid #0e5fac;
  padding: 4px 10px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.buy_now {
  margin-top: 20px;
}
