.loader-box {
  position: relative;
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.loader {
  width: 48px;
  height: 48px;
  position: relative;
  left: 50%;
  top: 50%;
  border: 5px solid #070606;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  width: 350px;
  padding: 0px 20px 20px;
  transition: 0.5s;
  margin-top: 20px;
}

.block:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.service-title {
  font-size: 20px;
  text-align: left;
}

.buy_now {
  display: block;
  text-align: center;
  padding: 10px 0px 10px;
  margin: auto;
  text-decoration: underline;
  transition: 0.5s;
  color: white;
  text-decoration: none;
  background: #0e5fac;
}

.buy_now:hover {
  color: white;
  transform: scale(1.08);
}

.bio-service {
  max-height: 300px;
}
