.header {
  background: white;
  box-shadow: 0px 0px 10px 3px rgba(213, 211, 211, 0.75);
  position: sticky;
  z-index: 10;
  top: 0;
}

.header_navbar {
  position: relative 1px;
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 0px;
  justify-content: space-between;
}

.header_navbar ul {
  padding-top: 19px;
}

.header_navbar ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 19px;
}

.navbar-link {
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.img_1_1 {
  height: 210px;
}

.language {
  border: none;
  font-size: 18px;
}

.banner_menu {
  display: none;
}

.menu_aa {
  max-width: 40px !important;
}

.language_btn {
  margin-left: 15px;
}

.media_btn {
  width: 40px;
  border: 20px;
  margin-right: 10px;
}