.banner-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.photo-banner {
  transition: 0.5s;
  margin-bottom: 20px;
}

.photo-banner:hover {
  border-radius: 50px;
}

.img_1_1 {
  height: 300px;
}

.grid-photos {
  margin-bottom: 800px;
}

.super_img {
  width: 723px;
}

.i-2 {
  height: 324px;
}

.main-flex {
  gap: 30px;
  width: 100%;
}

.a-img {
  width: 400px;
  height: 860px;
}
